{% extends "course/nav.html" %}

{% block drawer %}
<div class="mdui-drawer mdui-drawer-close mdui-color-white" id="left-drawer">
    <ul class="mdui-list">
        {% if user.is_superuser %}
        <li class="mdui-subheader">用户管理</li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">&#xe145;</i>
            <a href="{% url 'add_user' %}" class="mdui-list-item-content">增添/导入用户</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">&#xe8b6;</i>
            <a href="{% url 'mod_user' %}" class="mdui-list-item-content">检索/操作用户</a>
        </li>
        <li class="mdui-subheader">院系管理</li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">&#xe145;</i>
            <a href="{% url 'add_dept' %}" class="mdui-list-item-content">增添院系</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">&#xe8b6;</i>
            <a href="{% url 'mod_dept' %}" class="mdui-list-item-content">检索/操作院系</a>
        </li>
        <li class="mdui-subheader">计划任务</li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">&#xe422;</i>
            <a href="{% url 'semester_settings' %}" class="mdui-list-item-content">学期设置</a>
        </li>
        {% endif %}
        <li class="mdui-subheader">课程管理</li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">&#xe145;</i>
            <a href="{% url 'add_course_class' %}" class="mdui-list-item-content">创建课程/班级</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">&#xe8b6;</i>
            <a href="{% url 'mod_course_class' %}" class="mdui-list-item-content">检索/修改课程班级</a>
        </li>
        <!-- <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">&#xe8b6;</i>
            <a href="{% url 'class_schedule' %}" class="mdui-list-item-content">课程时间管理</a>
        </li> -->
        <li class="mdui-subheader">关于</li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">&#xe88f;</i>
            <a href="{% url 'about' %}" class="mdui-list-item-content" target='_blank'>关于</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block nav-bar %}
<div class="mdui-bottom-nav mdui-bottom-nav-text-auto mdui-color-theme" id="navibar">
    <a href="{% url 'course' %}" class="mdui-ripple mdui-ripple-white">
        <i class="mdui-icon material-icons">&#xe8b6;</i>
        <label>搜索课程</label>
    </a>
    <a href="javascript:void(0);" class="mdui-ripple mdui-ripple-white mdui-bottom-nav-active">
        <i class="mdui-icon material-icons">&#xe869;</i>
        <label>系统管理</label>
    </a>
</div>
{% endblock %}
