{% extends "mgmt/mgmt.html" %}
{% block title %}选课系统-检索院系{% endblock %}
{% block nav-title %}系统管理{% endblock %}

{% block content %}
<div class="main-container mdui-container">
    <div id="search-user">
        <div class="mdui-row">
            <div class="main-header mdui-typo">
                <div class="mdui-col-xs-12">
                    <h1 id="add">检索院系</h1>
                </div>
            </div>
        </div>
        <form id="search-dept-form">
            {% csrf_token %}
            <div class="mdui-row">
                <i class="mdui-icon material-icons mdui-col-xs-1" style="margin-top: 20px;">&#xe8b6;</i>
                <select class="mdui-select mdui-col-xs-2" name="searchMode" style="margin-top: 16px;">
                    <option value="deptId" selected>院系编号</option>
                    <option value="deptName">院系名称</option>
                </select>
                <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-7">
                    <input class="mdui-textfield-input" type="text" name='keyword' />
                </div>
                <div class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-button-row mdui-col-xs-2"
                    style="margin-top: 16px;" onclick="searchDept();">检索</div>
            </div>
            <input id='page' name='page' value="1" hidden />
            <input name='itemPerPage' value="25" hidden />
        </form>
    </div>

    <table class="mdui-table mdui-table-hoverable">
        <thead>
            <tr>
                <td>院系编号</td>
                <td>院系名称</td>
                <td>操作员</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>

    </br>

    <div class="mdui-typo ">
        <p class="mdui-row-md-9" id="page-selector">

        </p>
        <p id="page-count">

        </p>
    </div>


</div>
{% endblock %}

{% block script %}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>

<script>
    $(document).ready(searchDept());

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function searchDept(snack_bar = true, page = 1) {
        $("#progress-bar").removeAttr("hidden");
        $('#page').val(page);
        $.ajax({
            url: "{% url 'search_dept_api' %}",
            type: 'POST',
            cache: false,
            data: new FormData($("#search-dept-form")[0]),
            dataType: "json",
            processData: false,
            contentType: false,
            success: function (res) {
                $("#progress-bar").prop("hidden", "hidden");
                var message = "";
                if (snack_bar) {
                    mdui.snackbar({ message: res.message, position: 'top' });
                }
                if (res.success) {
                    drawTable(res.data.dept);
                    drawPList(res.data.plist, res.data.page);
                }
            },
            error: function (res) {
                $("#progress-bar").prop("hidden", "hidden");
                mdui.snackbar({ message: "查询失败", position: 'top' });
            }
        });
    };

    function drawTable(list) {
        $("#table-body").empty();
        $("table").attr("class", "mdui-table mdui-table-hoverable mdui-table-selectable")
        for (var i = 0; i < list.length; i++) {
            var s = "<tr>";
            var dept_id;
            for (var j = 0; j < list[i].length; j++) {
                if (j == 0) {
                    dept_id = list[i][j];
                }
                s = s + "<td>" + list[i][j] + "</td>";
            }
            s = s + "<td>";
            s = s + "<a class='mdui-btn mdui-color-theme-accent' href='" + dept_id + "' target='_blank'>编辑</button>";
            s = s + "</tr>";
            $("#table-body").append(s);
        }
        mdui.mutation();
    }

    function drawPList(list, current) {
        $("#page-count").html("第" + current + "页，共" + list[list.length - 1] + "页");
        $("#page-selector").empty();
        for (var i = 0; i < list.length; i++) {
            var s = "<div class='mdui-btn ";
            if (current == list[i]) {
                s = s + "mdui-color-theme-accent ";
            }
            s = s + "' onclick='searchUser(page=" + list[i] + ");'>" + list[i] + "</div>";
            $("#page-selector").append(s);
        }
        mdui.mutation();
    }
</script>
{% endblock %}