{% extends "course/nav.html" %}
{% block title %}选课系统主页{% endblock %}

{% block content %}
<div class="mdui-container">
    <div class="mdui-typo">
        <h1>
            {% if view_kind == "select"%}
            选课
            {% elif view_kind == "withdraw"%}
            退课
            {% elif view_kind == "is_end"%}
            查看已结课课程
            {% elif view_kind == "current"%}
            查看已选课程
            {% endif %}
        </h1>
    </div>

    <div class="search-bar">
        <form class="search-form mdui-row" method="post">
            {% csrf_token %}
            <div class="mdui-textfield mdui-col-xs-10">
                <input class="mdui-textfield-input" id="search-key" type="text" name="search" placeholder="搜索课程" {% if search_key != None %}value="{{ search_key }}" {% endif %} />
            </div>
            <input class="mdui-btn mdui-color-theme-accent mdui-col-xs-2" type="submit" value="搜索课程" style="margin-top: 10px;" />
        </form>
    </div>

    <table class="mdui-table">
        <thead>
            <tr>
                <th class="course-no">课程编号</th>
                <th class="course-name">名称</th>
                <th class="course-credit">学分</th>
                {% if view_kind == "is_end" %}
                <th class="course-year-semester">年份学期</th>
                {% else %}
                <th class="course-number">当前人数/最大人数</th>
                <th class="course-year">年份</th>
                <th class="course-semester">学期</th>
                {% endif %}
                <th class="course-teacher">教师</th>
                {% if view_kind == "is_end" %}
                <th class="course-scores">得分</th>
                <th class="course-comments">评语</th>
                <th class="course-rating">学生评分</th>
                <th class="course-assessment">学生评价</th>
                <th class="course-operation student-course">操作</th>
                {% else %}
                <th class="course-schedule">上课时间</th>
                <th class="course-operation student-course">操作</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if view_kind == "is_end" %}
            {# end course show student course #}
            {% for sc in course_list %}
            <tr id="course-id-{{ sc.course.id }}">
                <td class="course-no">{{ sc.course.id }}</td>
                <td class="course-name">{{ sc.course.name }}</td>
                <td class="course-credit">{{ sc.course.credit }}</td>
                <td class="course-year-semester">{{ sc.course.year }} {{ sc.course.get_semester_display }}</td>
                <td class="course-teacher">{{ sc.course.teacher.name }}</td>
                <td class="course-scores">{{ sc.scores }}</td>
                <td class="course-comments">{{ sc.comments }}</td>
                {% if sc.rating == None %}
                <td class="course-rating">-</td>
                <td class="course-assessment">-</td>
                <td class="course-operation student-course">
                    <input class="button" type="button" value="查看详情" onclick='location.href="{% url 'sview_detail' sc.id %}"' />
                    <input class="button" type="button" value="评教" onclick='window.open("{% url 'evaluate' sc.id %}")' />
                </td>
                {% else %}
                <td class="course-rating">{{ sc.rating }}</td>
                <td class="course-assessment">{{ sc.assessment }}</td>
                <td class="course-operation student-course">
                    <input class="button" type="button" value="查看详情" onclick='location.href="{% url 'sview_detail' sc.id %}"' />
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% else %}
            {% for course in course_list %}
            <tr id="course-id-{{ course.id }}">
                <td class="course-no">{{ course.id }}</td>
                <td class="course-name">{{ course.name }}</td>
                <td class="course-credit">{{ course.credit }}</td>
                <td class="course-number">{{ course.get_current_count }}/{{ course.max_number }}</td>
                <td class="course-year">{{ course.year }}</td>
                <td class="course-semester">{{ course.get_semester_display }}</td>
                <td class="course-teacher">{{ course.teacher.name }}</td>
                <td class="course-schedule">
                    {% for schedule in course.get_schedules %}
                    <div>{{ schedule }}</div>
                    {% endfor %}
                </td>
                <td class="course-operation student-course">
                    {% if view_kind == "select"%}
                    <a class="mdui-btn mdui-color-theme-accent" href="{% url 'operate_course' course.id 'select' %}">选课</a>
                    {% endif %}
                    {% if view_kind == "withdraw"%}
                    <a class="mdui-btn mdui-color-theme-accent" href="{% url 'operate_course' course.id 'withdraw' %}">撤课</a>
                    {% endif %}
                    {% if view_kind == "current"%}
                    -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>

    </table>
</div>

<div class="mdui-container" id="selected"></div>
{% endblock %}