{% extends "course/nav.html" %}
{% load static %}
{% block title %}创建课程{% endblock %}

{% block content %}
<div class="mdui-container">
    <div class="mdui-typo">
        <h1>创建课程</h1>
    </div>
    <div class="form create-update-from">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div class="submit-button">
                <input class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" type="submit" value="创建" />
            </div>
        </form>
    </div>
</div>
{% endblock %}