{% extends "user/login_bg.html" %}

{% block welcome_message %}
<div class="mdui-row">
    <div class="main-header mdui-typo">
        <div class="mdui-col-xs-12">
            {% if from_url == "register" %}
            <div class="welcome-message mdui-typo-title">注册成功，你的账号是{{view.kwargs.uid}}</div>
            {% else %}
            <div class="welcome-message mdui-typo-title">欢迎，请登录</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block login_container %}
<div class="form">
    <form class="" method="post">
        {% csrf_token %}
        <div class="mdui-row">
            <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-12 {% if form.errors.uid or form.errors.password %} mdui-textfield-invalid {% endif %}">
                <i class="mdui-icon material-icons">&#xe853;</i>
                <label class="mdui-textfield-label">Uid</label>
                <div class="mdui-textfield-helper">您的用户id</div>
                {{form.uid}}
                {% if form.errors.uid %}
                <div class="mdui-textfield-error">{{form.errors.uid.0}}</div>
                {% elif form.errors.password %}
                <div class="mdui-textfield-error">{{form.errors.password.0}}</div>
                {% endif %}
            </div>

            <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-12 {% if form.errors.password %} mdui-textfield-invalid {% endif %}">
                <i class="mdui-icon material-icons">&#xe897;</i>
                <label class="mdui-textfield-label">Password</label>
                <div class="mdui-textfield-helper">您的密码</div>
                {{form.password}}
                {% if form.errors.password %}
                <div class="mdui-textfield-error">{{form.errors.password.0}}</div>
                {% endif %}
            </div>
        </div>
        <div class="mdui-row">
            <div class="mdui-col-xs-6">
                <input class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-btn-block" type="submit"
                    value="登录" />
            </div>
            <div class="mdui-col-xs-6">
                <a class="mdui-btn mdui-btn-raised mdui-ripple mdui-btn-block" href="{% url 'register' %}">注册</a>
            </div>
        </div>
    </form>
    <div class="mdui-row">
        <div class="return-button mdui-col-xs-12"><a class="mdui-btn mdui-btn-block mdui-ripple"
                href="{% url 'login' %}">返回上一页</a></div>
    </div>
</div>

{% endblock %}