{% extends "user/login_bg.html" %}
{% load static %}

{% block welcome_message %}
<br>
{% endblock %}

{% block login_container %}
<div class="login-kind student-login-button mdui-col-xs-12 mdui-col-md-6">
    <a href="{% url 'login' 'student' %}" class="mdui-ripple">
        <div class="mdui-card">
            <div class="mdui-card-media">
                <img src="{% static 'img/student.webp' %}" class="mdui-img-rounded" />
                <div class="mdui-card-media-covered">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">学生入口</div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="login-kind teacher-login-button mdui-col-xs-12 mdui-col-md-6">
    <a href="{% url 'login' 'teacher' %}" class="mdui-ripple">
        <div class="mdui-card">
            <div class="mdui-card-media">
                <img src="{% static 'img/teacher.webp' %}" class="mdui-img-rounded" />
                <div class="mdui-card-media-covered">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">教师入口</div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
{% endblock %}