{% extends "background.html" %}
{% load static %}

{% block title %}
    {% if view.kwargs.force != True %}修改个人信息
    {% else %}完善个人信息{% endif %}
{% endblock %}

{% block nav-button-l %}
{% if force != True %}
<a href="javaScript:history.back();" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '返回'}"><i
        class="mdui-icon material-icons">&#xe5c4;</i></a>
{% endif %}
{% endblock %}

{% block nav-title %}
    {% if view.kwargs.force != True %}修改个人信息
    {% else %}完善个人信息{% endif %}
{% endblock %}

{% block nav-button-r %}
<a href="javaScript:location.reload();" class="mdui-btn mdui-btn-icon" id="refresh-button"
    mdui-tooltip="{content: '刷新'}"><i class="mdui-icon material-icons"></i></a>
<a href="{% url 'logout' %}" class="mdui-btn mdui-btn-icon" id="refresh-button" mdui-tooltip="{content: '退出'}"><i
        class="mdui-icon material-icons">&#xe879;</i></a>
{% endblock %}


{% block content %}
{{force}}
{{view.args.force}}
{{view.kwargs.force}}
<div class="main-container mdui-container">
    <div class="mdui-row">
        <div class="main-header mdui-typo">
            <div class="mdui-col-xs-12">
                {% if view.kwargs.force != True %}
                    <h1>修改个人信息</h1>
                {% else %}
                    <h1>欢迎，请完善个人信息以继续</h1>
                {% endif %}
            </div>
        </div>
    </div>

    <form method="post" class="form">
        {% csrf_token %}
        <div class="mdui-row">
            <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-12">
                <i class="mdui-icon material-icons">&#xe24e;</i>
                <label class="mdui-textfield-label">Name</label>
                <label class="mdui-textfield-helper">您的姓名</label>
                {{form.name}}
            </div>
            <div class="mdui-textfield mdui-col-xs-12">
                <i class="mdui-icon material-icons">&#xe87c;</i>
                <label class="mdui-textfield-label">Gender</label>
                <label class="mdui-textfield-helper">您的性别</label>
                {{form.gender}}
            </div>
            <div class="mdui-textfield mdui-col-xs-12">
                <i class="mdui-icon material-icons">&#xe7e9;</i>
                <label class="mdui-textfield-label">Birthday</label>
                <label class="mdui-textfield-helper">您的出生日期</label>
                {{form.birthday}}
            </div>
            {% if role == 'teacher' %}
            <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-12">
                <i class="mdui-icon material-icons">&#xe24e;</i>
                <label class="mdui-textfield-label">Info</label>
                <label class="mdui-textfield-helper">您的简介</label>
                {{form.info}}
            </div>
            {% endif %}
        </div>

        <div class="mdui-row">
            <div class="mdui-col-xs-12">
                <input class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-btn-block" type="submit"
                    value="修改" />
            </div>
        </div>
    </form>
    <div class="mdui-row">
        <div class="return-button mdui-col-xs-12"><a class="mdui-btn mdui-btn-block mdui-ripple"
                href="{% url 'login' %}">返回上一页</a></div>
    </div>

</div>
{% endblock %}