{% extends "background.html" %}
{% load static %}

{% block title %}选课系统-修改密码{% endblock %}

{% block nav-button-l %}
<a href="javaScript:history.back();" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '返回'}"><i class="mdui-icon material-icons">&#xe5c4;</i></a>
{% endblock %}
{% block nav-title %}选课系统-修改密码{% endblock %}
{% block nav-button-r %}
<a href="javaScript:location.reload();" class="mdui-btn mdui-btn-icon" id="refresh-button" mdui-tooltip="{content: '刷新'}"><i
    class="mdui-icon material-icons"></i></a>
<a href="{% url 'logout' %}" class="mdui-btn mdui-btn-icon" id="refresh-button" mdui-tooltip="{content: '退出'}"><i
        class="mdui-icon material-icons">&#xe879;</i></a>
{% endblock %}


{% block content %}
<div class="main-container mdui-container">
    <div class="mdui-row">
        <div class="main-header mdui-typo">
            <div class="mdui-col-xs-12">
                <h1>修改密码</h1>
            </div>
        </div>
    </div>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="mdui-row">
            <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-12">
                <i class="mdui-icon material-icons">&#xe897;</i>
                <label class="mdui-textfield-label">Password</label>
                {{form.password}}
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-12 {% if form.errors.confirm_password %} mdui-textfield-invalid {% endif %}">
                <i class="mdui-icon material-icons">&#xe897;</i>
                <label class="mdui-textfield-label">Confirm Password</label>
                {{form.confirm_password}}
                {% if form.errors.confirm_password %}
                <div class="mdui-textfield-error">{{form.errors.confirm_password.0}}</div>
                {% endif %}
            </div>
        </div>

        <div class="mdui-row">
            <div class="mdui-col-xs-12">
                <input class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-btn-block" type="submit"
                    value="确认" />
            </div>
        </div>
    </form>
    <br/>
    <div class="mdui-row">
        <div class="return-button mdui-col-xs-12"><a class="mdui-btn mdui-btn-block mdui-ripple"
                href="{% url 'login' %}">返回上一页</a></div>
    </div>

</div>
{% endblock %}